azure_synapse_pipeline/CreateView/CreateView.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"workspaceName":{"type":"string","metadata":"Workspace name","defaultValue":"real-time-synapse-ws"},"AzureSqlDatabase1":{"type":"string"},"real-time-synapse-ws-WorkspaceDefaultStorage":{"type":"string"}},"variables":{"workspaceId":"[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"},"resources":[{"name":"[concat(parameters('workspaceName'), '/CreateView')]","type":"Microsoft.Synapse/workspaces/pipelines","apiVersion":"2019-06-01-preview","properties":{"activities":[{"name":"Get Table Names","type":"GetMetadata","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataset":{"referenceName":"goldtables","type":"DatasetReference","parameters":{}},"fieldList":["childItems"],"storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"BinaryReadSettings"}}},{"name":"ForEachTableName","type":"ForEach","dependsOn":[{"activity":"Get Table Names","dependencyConditions":["Completed"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('Get Table Names').output.childItems","type":"Expression"},"activities":[{"name":"Stored procedure1","type":"SqlServerStoredProcedure","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[dbo].[CreateSQLServerlessView_gold]","storedProcedureParameters":{"ViewName":{"value":{"value":"@item().name","type":"Expression"},"type":"String"}}},"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase1')]","type":"LinkedServiceReference"}}]}}],"policy":{"elapsedTimeMetric":{}},"annotations":[],"lastPublishTime":"2024-11-21T17:45:24Z"},"dependsOn":["[concat(variables('workspaceId'), '/datasets/goldtables')]"]},{"name":"[concat(parameters('workspaceName'), '/goldtables')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"linkedServiceName":{"referenceName":"[parameters('real-time-synapse-ws-WorkspaceDefaultStorage')]","type":"LinkedServiceReference"},"annotations":[],"type":"Binary","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":"SalesLT","fileSystem":"gold"}}},"dependsOn":[]}]}